// 建国兄给加的，之后再学习试用
{   
    "plugins": [
      [
        "@babel/plugin-proposal-decorators", // 启用装饰器
        {
          "legacy": true
        }
      ],
      [
        "@babel/plugin-proposal-class-properties",
        {
          "loose": true
        }
      ],
      [
        "module-resolver",
        {
          "alias": {
            "@": "./src",
            "@public/*": ["./public/*"]
          }
        }
      ]
    ]
  }
  